.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: top 2s linear;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}