/* App.css */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  background-color: #f0f0f0;
}
.App {
  text-align: center;
  width:100%;
}

.game-area {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
}

h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.play-button{
  position: absolute;
  top: 160px;
  left: 100px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border:1px solid #000;
  background-color: #ededed;
}